.caja { 
    margin: 25px;
    width: 200px;
    height: 300px;
    border: 2px solid red;
    background-color: pink;
    cursor: pointer;
}

.caja:active {
    cursor: row-resize;
    color: #000;
}